.antraste {
background-color: orange;
text-align: center;
padding: 40px; 	
}
.menu{
	background-color: brown;
	padding: 20px;
	border: 1px,solid,black;
	color: white;
}
.pagrindas{
	background-color: grey;

}
.tekstas{
	background-color: white;
	padding: : 10px;
}
.paveiksliukas{
	padding: : 10px;
}