.antraste {
background-color: orange;
text-align:left;
padding: 40px; 	
}
.menu{
	background-color: brown;
	padding: 20px;
	border: 1px,solid, black;
	color: white;
}
body{
	background-color: black;


}
.tekstas{
	background-color: white;
	padding: : 10px;
	
}
.paveiksliukas{
	background-color: grey;
    padding: 5px;
    margin: 5 px;
    max-width: 100%;
    

}
.info{
	background-color: white;
	padding: 15px;
}
h3{
	color: blue;
}